{% extends 'base.html.twig' %}

{% block title %}Edit Visit{% endblock %}

{% block body %}
    <h1>Edit Visit</h1>

    {{ include('visit/_form.html.twig', {'button_label': 'Submit'}) }}

    <a href="{{ path('service_index') }}">back to service list</a>

    {{ include('visit/_submit_form.html.twig') }}
    {{ include('visit/_cancel_form.html.twig') }}
{% endblock %}
