{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="card-header">This is a test index page</h1>
    <p class="alert alert-success">
        And this is a test variable {{ var }}.
    </p>
{% endblock %}
