{% extends 'base.html.twig' %}



{% block body %}
    <h1 class="card-header">Sveiki atvykę į NETA garažas puslapį!</h1>
    <p class="alert alert-success">
        And this is a test variable {{ var }}.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis dignissimos dolore facilis fuga inventore itaque laborum, neque nobis odio optio provident quasi qui! Architecto dolor nihil tempore ut vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolor eveniet nulla possimus quidem ratione suscipit? Aperiam architecto consequatur corporis cum cumque deleniti deserunt, dolores doloribus earum est eum eveniet explicabo, facilis itaque magni mollitia neque nesciunt, officia perspiciatis placeat porro quasi ratione recusandae repudiandae saepe temporibus totam voluptatum. Sapiente.</p>

{% endblock %}
