<div class="search-form">
    {{ form_start(form, { 'action' : path('service_index') }) }}
    {{ form_row(form.search) }}
    <button type="submit" class="btn">{{ 'service.form.search_submit'|trans }}</button>
    {{ form_end(form) }}
</div>
