.form-loading {
    opacity: 0.5;
    pointer-events: none;
}

div#b {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

a {
    color: #17a2b8;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a#b {
    color: #17a2b8;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    margin-right: 2rem;
}
label#remember_me {
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: 1rem;
}
.form-control {
    margin-left: 1rem;
}
.form-inline .form-group, .form-inline label {
    margin-left: 0rem;
}
